{% extends 'muntu/header1.html' %}

{% load staticfiles %}


{% block content %}

 {% if user.is_authenticated %}
 <p>Welcome {{ user.username }}</p>
 {% else %}
 <p>Welcome to the Zola Bantu network</p>
 {% endif %}
<!---
    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
--->

 <h2 style="color: #00ff00">Contact</h2>
 <p>For more information or queries, contact us using the below form and we will get back to you.</p>
    <div class="row">
      <div class="col-lg-3">
      </div>

      <div class="col-lg-6">
       <img src="static/muntu/image/{{ name }}" alt="{% static 'muntu/imag/sisi_watu2.png' %}" width="480">
      </div>

      <div class="col-lg-3">
      </div>

    </div>
{% endblock %}
